body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #dddddd;
}
header {
  display: flex;
  background-color: #d4707a;
  color: white;
  height: 53px;
  justify-content: center;
  align-items: center;
}
#navigation-items {
  display: flex;
  width: 1140px;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 20%;
}
a {
  text-decoration: none;
  color: white;
}
#where-am-i {
  display: flex;
  background-color: #f5f5f5;
  color: black;
  margin: 20px 20%;
  border-radius: 4px;
  padding: 6px;
}
#damas-explanation {
  background-color: #f5f5f5;
  margin: 20px 20%;
  border-radius: 4px;
  padding: 6px;
}
#div-start-match {
  display: flex;
  justify-content: center;
}
.header-item {
  display: flex;
  align-items: center;
  margin: 0px 25px 0px 0px;
}
table {
  width: 490px;
  border: 5px solid #999999;
}
tbody {
  border-spacing: 0;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.light {
  background-color: whitesmoke;
}
.dark {
  background-color: black;
}
.piece-team-dark {
  background-color: darkgray;
  height: 58px;
  width: 58px;
  border-radius: 50%;
}
.piece-team-light {
  background-color: rgb(179, 19, 19);
  height: 58px;
  width: 58px;
  border-radius: 50%;
}
#start-match {
  color: white;
  font-size: 22px;
  background-color: #3d94d1;
  border-radius: 10px;
  width: 225px;
  height: 50px;
}
#title {
  font-family: 'Capriola', sans-serif;
  font-size: 22px;
  font-weight: 200;
}
