body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #dddddd;
}
header {
  display: flex;
  background-color: #d4707a;
  color: white;
  height: 53px;
  justify-content: center;
  align-items: center;
}
#navigation-items {
  display: flex;
  width: 1140px;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 45px 20% 30px 20%;
}
#where-am-i {
  display: flex;
  background-color: #f5f5f5;
  color: black;
  margin: 20px 20%;
  border-radius: 4px;
  padding: 6px;
}
#where-am-i > div {
  color: #777777;
  margin-left: 10px;
}
#damas-explanation {
  background-color: #f5f5f5;
  margin: 20px 20%;
  border-radius: 4px;
  padding: 6px;
}
#div-start-match {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}

header > ul > li {
  display: flex;
  align-items: center;
}
.header-item {
  margin: 0px 25px 0px 0px;
  text-decoration: none;
  color: white;
}
table {
  width: 490px;
  border: 5px solid #999999;
  border-collapse: collapse;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 58px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.light {
  background-color: whitesmoke;
}
.dark {
  background-color: #333333;
}
.piece-team-dark {
  background-color: darkgray;
  height: 58px;
  width: 58px;
  border-radius: 50%;
}
.piece-team-light {
  background-color: rgb(179, 19, 19);
  height: 58px;
  width: 58px;
  border-radius: 50%;
}
#start-match-button {
  color: white;
  background-color: #3d94d1;
  border-radius: 10px;
  width: 225px;
  height: 52px;
  margin-top: 20px;
  font-family: Arial;
  text-shadow: 0 0 3px #333333;
  border: 1px solid #84c5f3;
  background-image: linear-gradient(#57aeea, #3d94d1);
  box-shadow: 0 0 8px 1px #888888;
  font-size: 21px;
  cursor: pointer;
}
#title {
  font-family: 'Capriola', sans-serif;
  font-size: 22px;
  font-weight: 200;
}
.explanation {
  margin: 0 0 10px 0;
  line-height: 1.42;
}
#damas-explanation {
  padding: 10px;
}
